# Directories
build/
src/m64py.egg-info/

# Files
dist/*.egg
*.pyc
*.swp
src/m64py/ui/*_rc.py
src/m64py/ui/*_ui.py

# FIXME... still working it out...
/doc/doctrees
/doc/man
/doc/html
/doc/text
/doc/coverage

